.main-head
  background-color: #fff
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  box-shadow: 0 1px 3px 0 rgba(#ececec, 1)

.top-line
  display: flex
  justify-content: space-between
  align-items: center
  &-contacts
    text-align: right
    .call
      font-size: 20px
      font-weight: 700
      display: block
      +mt(.3s)
      color: $text
      margin-bottom: 5px
      &:hover
        color: $accent
    .worktime
      font-size: 12px

.main-mnu
  font-size: 0
  li
    display: inline-block
    a
      display: inline-block
      +mt(.3s)
      font-size: 14px
      padding: 21px 20px
      font-weight: 700
      color: $text
      &:hover
        background-color: $accent
        color: #fff
    &.active
      a
        background-color: $accent
        color: #fff


//hamburder
.hamburger
  display: none
  padding: 0
  &-inner, &-inner:before, &-inner:after
    width: 35px
    height: 5px

  &-box
    width: 35px
//end hamburger


//mmenu
.mm-menu_offcanvas
  max-width: 800px



.mm-menu_theme-dark
  background-color: #161616
  text-transform: uppercase

.mm-logo
  display: block
  margin: 0 auto
  width: 250px
  transform: scaleY(.53)


.mm-navbars_top
  border-color: transparent

.mm-listitem, .mm-listitem .mm-btn_next, .mm-listitem .mm-btn_next:before, .mm-listitem:after, .mm-listview
  border-color: rgba(#fff, .3)

.mm-listitem
  a
    padding-top: 14px
    padding-bottom: 12px

.mm-navbar
  border: none


.mm-menu_theme-dark .mm-navbar a, .mm-menu_theme-dark .mm-navbar>*
  font-size: 20px
  color: #fff
  letter-spacing: 2px

.mm-menu_theme-dark .mm-listview a:not(.mm-btn_next)
  color: #fff

.mm-menu_navbar_top-3 .mm-panels
  top: 120px




//end mmenu

