.s-five
  padding: 70px 0 50px
  position: relative
  .container
    position: relative
  .section-counter
    right: 0
    top: 0
    position: absolute
  .section-title
    margin-bottom: 70px

.prices
  width: 100%
  th
    text-align: center
  td, th
    padding: 10px 40px 10px 0
    line-height: 1.7
    span
      text-decoration: line-through
  th
    padding-bottom: 25px
    line-height: 1.3
  tbody
    tr:nth-child(odd)
      background-color: rgba(255, 255, 255, 0.05)
    tr:last-child
      background-color: transparent!important
  .btn
    font-size: 12px
    padding: 12px 20px
    width: auto


.tablesaw-swipe .tablesaw-swipe-cellpersist
  border-right: none

.tablesaw-advance
  display: none

.tablesaw-advance .tablesaw-btn
  text-shadow: none
  box-shadow: none
  background-color: #30ba00
  padding: 15px 20px!important
  display: inline-block

.tablesaw-advance a.tablesaw-nav-btn.right:before
  left: 16px
  top: 10px
  border-left: 9px solid grey

.tablesaw-advance a.tablesaw-nav-btn.left:before
  left: 14px
  top: 10px
  border-right: 9px solid grey

.tablesaw-advance a.tablesaw-nav-btn.disabled
  opacity: .45
