.s-six
  counter-reset: step
  position: relative
  &:before
    content: ''
    position: absolute
    background-color: $accent
    height: 150px
    width: calc(50% - 300px)
    left: 0
    bottom: 0
  .tags-wrap
    padding-left: 240px
    padding-bottom: 20px
    position: relative
    .tag-item
      margin-bottom: 8px
  .tags-wrap-container
    position: relative
  .section-counter
    color: #fff
    position: absolute
    left: calc((100vw - 1080px)/2)
    bottom: 28px
  .container
    padding-top: 80px
    position: relative
  .tags-slider
    display: none
  .tags-wrap
    height: 85px
    margin-bottom: 15px
    &.active
      height: 100%
  .tags-wrap-wrap
    .btn-wrap
      text-align: center
      .more-tags
        background-image: url('../img/icons/tags-nav.svg')
        &:hover
          background-image: url('../img/icons/tags-nav-hover.svg')

.s-six-notice
  position: absolute
  left: 0
  bottom: 10px
  padding: 15px 30px 30px 300px
  line-height: 1.5




.steps-wrap
  display: flex
  justify-content: space-around
  margin-top: 60px
  margin-bottom: 255px

.step-item
  width: 33%
  text-align: center
  padding: 0 50px
  position: relative
  &:before
    counter-increment: step
    content: '0'counter(step)
    position: absolute
    font-size: 230px
    font-weight: 700
    color: #efefef
    width: 100%
    text-align: center
    left: 0
    top: -40px
    z-index: -1
    line-height: 1

  &-icon
    margin-bottom: 28px
    img
      height: 70px
      width: auto
      margin-left: auto
      margin-right: auto
  &-desc
    font-size: 20px
    font-weight: 700
    margin-bottom: 15px