.s-six
  counter-reset: step
  position: relative
  &:before
    content: ''
    position: absolute
    background-color: $accent
    height: 252px
    width: calc(50% - 350px)
    left: 0
    bottom: 0
  .tags-wrap
    padding-left: 240px
    padding-bottom: 20px
    position: relative
    //&:before
    //  content: ''
    //  position: absolute
    //  background-color: red
    //  height: 100%
    //  width: calc((100vw - 100%)/2 + 240px)
    //  left: calc(0 - calc((100vw - 100%)/2))
    //  top: 0
    .tag-item
      margin-bottom: 8px
  .tags-wrap-container
    position: relative
    &.active
      .section-counter
        bottom: 150px
  .section-counter
    color: #fff
    position: absolute
    left: 0
    bottom: 115px
    //+mt(.3s)
  .container
    padding-top: 130px
  .tags-slider
    display: none
  .tags-wrap
    height: 175px
    margin-bottom: 15px
    &.active
      height: 100%
  .tags-wrap-wrap
    .btn-wrap
      text-align: center
      .more-tags
        background-image: url('../img/icons/tags-nav.svg')
        &:hover
          background-image: url('../img/icons/tags-nav-hover.svg')
        &.active
          //margin-bottom: 50px


.steps-wrap
  display: flex
  justify-content: space-around
  margin-top: 110px
  margin-bottom: 130px

.step-item
  width: 33%
  text-align: center
  padding: 0 50px
  position: relative
  &:before
    counter-increment: step
    content: '0'counter(step)
    position: absolute
    font-size: 230px
    font-weight: 700
    color: #efefef
    width: 100%
    text-align: center
    left: 0
    top: calc(50% - 138px)
    z-index: -1

  &-icon
    margin-bottom: 28px
    img
      height: 70px
      width: auto
      margin-left: auto
      margin-right: auto
  &-desc
    font-size: 20px
    font-weight: 700
    margin-bottom: 15px