.s-second
  position: relative
  overflow: hidden
  .container
    padding-bottom: 150px
    padding-top: 60px
  &:before
    content: ''
    position: absolute
    background-color: $accent
    height: 487px
    width: calc(50% - 140px)
    left: 0
    bottom: 110px
  &-img
    position: absolute
    z-index: 2
    bottom: 0
    left: calc(50% - 535px)
    width: 475px
  .section-counter
    position: absolute
    bottom: -100px
    left: 0
  .tags-slider
    margin-bottom: 40px

  &-wrap
    display: flex
    justify-content: space-between
  &-right
    width: 71%
    margin-left: 120px
    position: relative
  &-left
    width: calc(50% - 120px)


.facts-wrap
  margin-top: 90px
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.fact-item
  width: calc(50% - 15px)
  margin-bottom: 50px
  &-title
    font-size: 20px
    font-weight: 700
    margin-bottom: 20px




.tags-slider, .second-tags-slider
  position: relative
  z-index: 3
  .owl-nav
    position: absolute
    width: 100%
    left: 0
    top: calc(50% - 12px)
    button.owl-prev, button.owl-next
      position: absolute
      width: 24px
      height: 24px
      background-image: url('../img/icons/tags-nav.svg')
      +bg-cover
      border-radius: 50%
      +mt(.3s)
      &:hover
        background-image: url('../img/icons/tags-nav-hover.svg')
        background-color: $accent
    button.owl-next
      right: -32px
    button.owl-prev
      transform: rotate(180deg)
      left: -32px

.tag-slide
  display: flex
  .tag-item
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    min-height: 48px
